<!DOCTYPE html>
<html >
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Fertilizers Recommendation</title>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>

<body style="font-family:Montserrat;background-color:#333;">
	

	<div class="header">    
	 <div style="width:50%;float:left;font-size:2vw;text-align:left;color:white; padding-top:1%">Fertilizers Recommendation System</div>
	  <div class="topnav-right" style="padding-top:0.5%;">
		
		<a  href="{{ url_for('index')}}">Home</a>
		<a class="active" href="{{ url_for('login')}}">Predict</a>
		<a  href="{{ url_for('index')}}">Logout</a>
		  </div>
	</div>
	  </div>
	  <br><br>  <br><br>  <br><br>
	
			
<button class="button button1">Predict</button>   

</body>
</html>
		
		
	